* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
<<<<<<< HEAD
    height: 100vh;
=======
    min-height: 100vh;
>>>>>>> 4b90650 (add text animation)
    /* Asegura que el fondo cubra toda la altura de la ventana */
    background: linear-gradient(#F29933, #7733f2);
    /* Fondo inicial */
    background-size: cover;
    /* Asegura que el fondo cubra toda la pantalla */
    background-position: center;
    /* Centra el fondo para que no se desplace */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    /* Elimina márgenes */
}

.divLogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 60%;
    height: auto;
    filter: drop-shadow(0 0 1.2vh #000000);
}

.especialidad {
<<<<<<< HEAD
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
}
    

#especialidad {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -3%;
    margin-left: -25%;
    font-size: 2.2vw;
    filter: drop-shadow(0 0 1.2vh #000000);
}


/* Dispositivos micro*/
@media (max-width: 480px) {
    
}


/* Dispositivos medianos tableta*/
@media (min-width:481px) and (max-width: 768px) {
    
}

/* Dispositivos medianos tableta*/
@media (min-width:769px) and (max-width: 1279px) {
    
=======
    display: inline-flex;
    filter: drop-shadow(0 0 1.2vh #000000);
    margin-top: -3%;
    font-size: 3vw;
}

.especialidad .txtStatic {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
    margin-left: -45%;
}


.especialidad .txtDinamic {
    margin-left: 5%;
}

.especialidad .txtDinamic li {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
    list-style: none;
}

.txtDinamic li span::after {
 content: "";
 position: absolute;
 left: 0;
 height: 100%;
 width: 100%;
 margin-left: 1vw;  
>>>>>>> 4b90650 (add text animation)
}